.chef{
    background-color: black;
    padding: 5%;
    .container{
        .row{
            .title{
                font-family: courgette;
                margin-bottom: 50px;
                color: white;
                span{
                    color: $rouge;
                    font-size: 40px;
                }
            }
        }
        .row{
            div{
                img{
                    height: 300px;
                    width: 200px;
                    border-bottom: 1px solid grey;
                    
                }
                p{
                    color: white;
                }
            }
        }
    }
}