.chef{
    background-image: url(../img/team_background.jpg);
    background-size: 10000px;
    padding: 5%;
    .row{
            .title{
                font-family: courgette;
                margin-bottom: 50px;
                color: white;
                span{
                    color: $rouge;
                    font-size: 40px;
                }
            }
        }
    .container{
        
        .row{
            div{
                cursor: pointer;
                &:hover{
                    transform: scale(1.5); //zoom de 150%
                  }
                img{
                    height: 300px;
                    width: 200px;
                    border-bottom: 1px solid grey;
                }
                p{
                    color: white;
                }
            }
        }
    }
}