footer{
    background-image: url(../img/footer_background.jpg);
    background-size: cover;
    .social{
        i{
            cursor:pointer;
            &:hover{
                color: $rouge;
            }
        }
    }
    .tags{
        .row{
            .btn{
                border-radius: 90px;
                border: 1px solid white;
                cursor: pointer;
                font-size: 14px;
            }
        }
    }
    .bgRed{
        background-color: $rouge;
        height: 50px;
    }
    .bgBottom{
        background-image: url(../img/footer_bottom_decoration_img.png);
                background-repeat: repeat-x;
                width: 100%!important;
                height: 20px;
                position: absolute;
    }
}