header{
    position: relative;
    height: 100vh;
    width: 100%;
    @media screen and (min-width:600px) and (max-width: 1024px) {
        width: 100vw;
    }
    .navbar{
        z-index: 1;
        position: absolute;
        left: 17%;
        background: none;
        // @media screen and (min-width:600px) and (max-width: 1024px) {
        //     margin-left: 60px;
        //  }
        .container-fluid{
            .navbar-toggler{
                 @media screen and (min-width:600px) and (max-width: 1024px) {
                    display: none;
                 }
            }
            .collapse{
                @media screen and (min-width:600px) and (max-width: 1024px) {
                     display: flex;
                     margin-left: 100px;
                     margin-top: 30px;
                 }
                ul{
                    li{
                        border-top: 1px solid white;
                        border-bottom: 1px solid white;
                        padding: 0 5px;
                        //  @media screen and (min-width:600px) and (max-width: 1024px) {
                        //      border-top: 0px solid white;
                        //      border-bottom: 0px solid white;
                        //  }
                        &:hover{
                            background-color: $rouge;
                            color: white;
                        }
                        a{
                            color: white;
                            font-size: 13px;
                            &:hover{
                                color: white;
                            }
                        }
                    }
                }
                .navbar-brand{
                    margin: 0 50px;
                }
            }
        }
    }
    .titleHeader{
        position: absolute;
        top: 20%;
        left: 26%;
        z-index: 2;
        text-align: center;
        @media screen and (min-width:600px) and (max-width: 1024px) {
            top: 30%;
            left: 15%;
            font-size: 10px;
        }
        @media screen and (max-width: 600px) {
            top: 50%;
            left: 5%;
        }
        
        p{
            font-family: courgette;
            font-weight: bold;
            color: white;
            font-size: 55px;
            margin-top: 50px;
            @media screen and (max-width:600px) {
                font-size: 30px;
            }
            span{
                &:first-of-type{
                    color: $rouge;
                }
                &:last-of-type{
                    font-size: 30px;
                }
            }
        }
        .btn{
            &:first-of-type{
                margin-right: 20px;
                &:hover{
                    background:#bfbfbf;
                }
            }
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-radius: 20px !important;
            font-size: 15px;
        }
    }
    .carousel{
        position: absolute;
        height: 100%;
        img{
            filter: brightness(30%);
        }
        .carousel-indicators{
            
            button{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                border: 5px solid $gris;
                background-color: grey;
                margin: 10px;
            }
        }
        .carousel-inner{
            width: 100% !important;
            height: 100vh !important;
            .d-block{
                @media screen and (max-width: 1024px) {
                     height: 100vh !important;        
                }
                 
            }
            .bgbottom{
                background-image: url(../img/bottom_decoration_img.png);
                background-repeat: repeat-x;
                width: 100%!important;
                height: 20px;
                position: absolute;
                top: 657px;
                @media screen and (min-width: 600px) and (max-width: 1024px) {
                    top: 1010px;

                }
                @media screen and (max-width: 600px) {
                    top: 800px;
                }
            }
        }
    }
}