header{
    position: relative;
    height: 100vh;
    width: 100%;
    .navbar{
        z-index: 1;
        position: absolute;
        left: 17%;
        background: none;
        @media screen and (min-width:600px) and (max-width: 1024px) {
            margin-left: 60px;
         }
        .container-fluid{
            .navbar-toggler{
                @media screen and (min-width:600px) and (max-width: 1024px) {
                   display: none;
                }
                
            }
            .collapse{
                @media screen and (min-width:600px) and (max-width: 1024px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
                ul{
                    li{
                        border-top: 1px solid white;
                        border-bottom: 1px solid white;
                        padding: 0 5px;
                        @media screen and (min-width:600px) and (max-width: 1024px) {
                            border-top: 0px solid white;
                            border-bottom: 0px solid white;
                        }
                        &:hover{
                            background-color: $rouge;
                            color: white;
                        }
                        a{
                            color: white;
                            font-size: 13px;
                            &:hover{
                                color: white;
                            }
                        }
                    }
                }
                .navbar-brand{
                    margin: 0 50px;
                }
            }
        }
    }
    .titleHeader{
        position: absolute;
        top: 20%;
        left: 26%;
        z-index: 2;
        text-align: center;
        p{
            font-family: courgette;
            font-weight: bold;
            color: white;
            font-size: 55px;
            margin-top: 50px;
            span{
                &:first-of-type{
                    color: $rouge;
                }
                &:last-of-type{
                    font-size: 30px;
                }
            }
        }
        .btn{
            &:first-of-type{
                margin-right: 20px;
                &:hover{
                    background:#bfbfbf;
                }
            }
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-radius: 20px !important;
            font-size: 15px;
        }
    }
    .carousel{
        position: absolute;
        height: 100%;
        img{
            filter: brightness(30%);
        }
        .carousel-indicators{
            
            button{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                border: 5px solid $gris;
                background-color: white;
            }
        }
        
    }
}