// .contain{
//     position: relative;
//     margin: 10%;
//     .row{
//         .col-2{
//             text-align: center;
            
//             div{ 
//                 border-bottom: 1px solid lightgray;
//                 border-right: 1px solid lightgray;

//                 &:hover{
//                     border-right: 5px solid $rouge;
//                     i{
//                         color: $rouge;
//                     }
//                 }
//                 font-family: courgette;
//                 i{
//                     font-size: 50px;
//                     padding-top: 10px;
//                 }
                
//                 p{
//                     font-size: 25px;
                    
              
//             }
            
//             }
            
//         }
//     }
// }