section{
    &:first-of-type{
        background-color: white;
        position: relative;
        margin: 5% 10%;
        @media screen and (max-width:600px) {
            margin: 0%; 
            }
    }
    
    .story{
        .title {
            @media screen and (max-width:600px) {
                padding-right: 0px !important;
                width: 370px;
            }
            h3 {
                font-family: courgette;
                span {
                    color: $rouge;
                    font-size: 40px;
                }
            }

            p {
                padding: 20px 20%;
                @media screen and (max-width:600px) {
                    padding: 20px 0%;
                }
            }
        }
        
        .img1{
            position: absolute;
            top: 0;
        }
        .img2{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
.contain{
    position: relative;
    // height: 100%;
    .row{
        @media screen and (max-width:600px) {
            // padding: 0px !important;
            width: 360px;
        } 
        .title{
            text-align: center;
            font-family: courgette;
            @media screen and (max-width:600px) {
                padding: 0px !important;
            }
            span{
                color: $rouge;
                font-size: 40px;

            }
        }
    }
    .row{
        @media screen and (max-width:600px) {
            padding: 0px !important;
        }
        .menu{
            text-align: center;  
            @media screen and (max-width:600px) {
                padding: 0px !important;
                width: 380px !important;
            } 
                    
            div{ 
                cursor: pointer;
                border-bottom: 1px solid $gris;
                border-right: 1px solid $gris;
                @media screen and (min-width:600px) and (max-width:1024px) {
                border-left: 1px solid $gris;
            } 
                &:hover{
                    border-right: 5px solid $rouge;
                    i{
                        color: $rouge;
                    }
                }
                font-family: courgette;
                i{
                    font-size: 50px;
                    padding-top: 10px;
                }
                
                p{
                    font-size: 25px;
                }
            }
        }
    }
    .img3{
        position: absolute;
        right: 0px;
    }
    .sousMenu{
        margin-bottom: 20px;
        @media screen and (max-width:600px) {
            padding: 0px !important;
            width: 370px;
        } 
        .brd{
            border-bottom: 1px solid lightgray ;
        }
        .menuImg{
            height: 75px;
            width: 75px;
            border: 5px solid $gris;
            border-radius: 50%;
        }
        .content{
            margin-left: 10px;
            h6{
                margin: 0;
            }
        
        }
        .price{
            color: $rouge;
            margin: 18px 25px;
            font-weight: bold;
            span{
                padding: 0px 10px;
                background-color: $gris;
            }
        }
    }
}
