@import "./header";
@import "./story";
@import "./chef";
@import "./table";
@import "./client";
@import "./contact";
@import "./footer";


main{
    background-image: url(../img/main_bg.jpg);
    width: 100%;
    .cloche{
        img{
            @media screen and (max-width:600px) {
            width: 100%;
            }
        }      
    }
}