.table1{
    margin: 5% 10%;
    border: 1px solid lightgray;
    bottom: 10px;
    background-color: white;
    @media screen and (max-width:600px) {
        width: 100%;
        margin: 0;
    }
    
    .content{
        position: relative;
        .imgRGrey{
            position: absolute;
            right: 0;
            top: 0;
        }
        .imgLGrey{
            position: absolute;
            top: 0;
        }
        .imgBRGrey{
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .imgBLGrey{
            position: absolute;
            bottom: 0;
        }
        .title{
            font-family: courgette;
            span{
                color: $rouge;
                font-size: 50px;
            }
        }
        .tableForm{
            background-image: url(../img/book_table_bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            padding: 7% 5%;
            border-radius: 20px;
            margin: 20%;
            margin-top: 50px;
            margin-bottom: 50px;
            @media screen and (max-width:600px) {
                input{
                    // width: 0;
                }
            }
            .callUs{
                color: lightgray;
                span{
                    font-weight: bold;
                    font-size: 20px;
                }
            }
            .btn{
                border-radius: 20px;
                margin-top: 50px;
            }

            .row{
                form{
                    div{
                        input, select{ 
                            border-radius: 10px !important;
                            border: none;
                            margin-bottom: 20px;
                            height: 40px;
                            width: 220px;
                            color: black;
                            padding:5px 10px;
                            &::placeholder{
                                color: black;
                            }
                            @media screen and (max-width:600px) {
                                width: 200px;
                            }
                        }
                    }
                   
                }
            }
        }
        .title{
            @media screen and (max-width:600px) {
                padding: 0;
                width: 375px;
            }
        }
        .cloche{
            height: 3px;
            padding-bottom: 100px;
            @media screen and (max-width:600px) {
                width: 370px;
            }
            
        }
        .blog{
            margin-bottom: 100px;
            .cardBlog{
                position: relative;
                .imgBlog{
                    border: 5px solid $gris;
                    border-radius: 20px;
                    width: 400px;
                    @media screen and (max-width:600px) {
                        width: 300px;
                    }
                }
                .social{
                    position: absolute;
                    bottom: 120px;
                    left: 80px;
                    margin: 0;
                    width: 350px;
                    color: #cdcdcd; 
                    background-color: $rouge;
                    border-radius: 10px;
                    height: 50px;
                    span{
                        color: white;
                        font-size: 20px;
                    }
                    @media screen and (max-width:600px) {
                        bottom: 135px;
                        width: 300px;
                        left: 50px;    
                    }
                }
                .textContent{
                    margin: 25px 30px;
                    @media screen and (max-width:600px) {
                        margin: 25px 5px;
                    }
                }
            }
            .btn{
                border-radius: 20px;
            }
        }
    }
    
}